.NavBar{
    width: 90%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logoimg{
    cursor: pointer;
    box-shadow: 5px 5px 5px #6d6d6d;
}

.logoimg img{
    width: 7rem;
    height: 7rem;
}
.ul-list{
    display: flex;
}

.list-items{
    display: flex;
    justify-content: space-around;
    margin-right: 3rem;
}
.item-nav{
    cursor: pointer;
    margin-left: 1rem;
}


.item-nav:hover{
    color: #6d6d6d;
}



@media (max-width:768px) {
    .logoimg img{
      width: 5rem;
      height: 5rem;
    }
    .list-items{
        flex-direction: column;
    }
    .item-nav{
        margin-bottom: .5rem;
    }
    
}